.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-comment-form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .main {
        padding: 10px;
        margin: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
    }
}

.join-chat-btn {
    width: 20%;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    position: relative;
    bottom: 0;
    margin: 0 auto; 
    min-width: 100px;
}

.join-chat-btn:hover {
    background-color: #0056b3;
}

.form-input {
    width: 100%; /* Full width for inputs */
    padding: 8px; /* Padding for inputs */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
}
